absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.7.0
astunparse==1.6.3
attrs==24.3.0
blinker==1.9.0
boto3==1.35.83
botocore==1.35.83
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
DateTime==5.5
deprecation==2.1.0
distro==1.9.0
filelock==3.16.1
flatbuffers==24.3.25
frozenlist==1.5.0
fsspec==2024.10.0
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
gotrue==2.11.0
groq==0.13.1
grpcio==1.68.1
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hpack==4.0.0
httpcore==1.0.7
httpx==0.27.2
huggingface-hub==0.27.0
hyperframe==6.0.1
idna==3.10
Jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==3.7.0
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml-dtypes==0.4.1
multidict==6.1.0
namex==0.0.8
narwhals==1.18.4
numpy==2.0.2
opt_einsum==3.4.0
optree==0.13.1
packaging==24.2
pandas==2.2.3
pillow==11.0.0
postgrest==0.18.0
propcache==0.2.1
protobuf==5.29.1
pyarrow==18.1.0
pydantic==2.10.3
pydantic_core==2.27.1
pydeck==0.9.1
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
realtime==2.0.6
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
s3transfer==0.10.4
safetensors==0.4.5
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
storage3==0.9.0
streamlit==1.41.1
supabase==2.10.0
supafunc==0.7.0
tenacity==9.0.0
tensorboard==2.12
tensorboard-data-server==0.7.2
tensorflow==2.12
termcolor==2.5.0
tf_keras==2.18.0
tokenizers==0.21.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
transformers==4.47.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
watchdog==6.0.0
websockets==13.1
Werkzeug==3.1.3
wrapt==1.17.0
yarl==1.18.3
zope.interface==7.2
